.content
	height: 95vh
	width: 100%
	background-color: #5b7c77
	display: flex
	padding: 0
	margin: 0
	&__page
		align-items: center
		justify-content: center
		height: 80%
	&-subtitle
		background-color: #fff
		padding: 5px 10px
	&-text
		margin-top: 15px
		background-color: #fff
		height: 70vh
		padding: 20px 25px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__title
		margin: 0 0 20px 0
		font-size: 26px
		+semibold
	&__paragraph
		+reg
		font-size: 20px
	&-border
		border: 2px solid #5b7c77
		padding: 30px
		border-radius: 25px


.dark 
	background-color: #344744
	
.thin
	max-width: 720px

.thin h3
	text-align: center
.thin p
.thin .content-text
	height: 100%

@media (max-width: 900px)
	.content
		&-subtitle
		font-size: 15px
		&__title
			margin: 0 0 15px 0
			font-size: 22px
		&__paragraph
			font-size: 18px
@media (max-width: 750px)
	.content
		&-subtitle
		font-size: 12px
		&__title
			margin: 0 0 10px 0
			font-size: 12px
		&__paragraph
			font-size: 10px